{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css"
                href="{% static 'style.css' %}" >
        <link rel="stylesheet" type="text/css"
                href="{% static 'bootstrap.min.css' %}">

        <title>TresureGram</title>
    </head>
	<body style="background-color: #fff7e6">
        <nav class="navbar navbar-defualt navbar-static-top text-center">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="TreasureGram">
            </a> </nav>
		<main class="container" role="main">
            <div class="row" style="background-color: #fff7e6">
				{% for treasure in treasures%}
                <div class="col-md-4" style="background-color: #fdeecf;">
                    <a href="/{{ treasure.id }}">
                        <div class="treasure panel panel-default text-center" style="background-color: #fff7e6">
                            <div class="panel-heading">
                                <h2 class="panel-title">{{ treasure.name | title }}</h2>
                            </div>
                            <div class="panel-body">
                                <div class="treasure-photo">
                                    <img src="{{ treasure.img_loc }}" height="200">
                                </div>
                            </div>
                        </div>
                    </a>
				</div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}

				{% endfor %}
			</div>
		</main>
        
        
    </body>
</html>

